<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row">
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-briefcase"></i>
                </span>
                
                <div class="box-info">
                    <p class="size-h2">{{nbrEtu}}</p>
                    <p class="text-muted"><span data-i18n="Etudiants"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-graduation-cap"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{nbrFrm}}</p>
                    <p class="text-muted"><span data-i18n="Formations"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-university"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{nbrUe}}<span class="size-h4"></span></p>
                    <p class="text-muted"><span data-i18n="Unités d'Enseignement"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-info">
                    <i class="fa fa-users"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{nbrEns}}</p>
                    <p class="text-muted"><span data-i18n="Enseignants"></span></p>
                </div>
            </div>
        </div>

    </div>
    <!-- end stats -->


</div>
  