        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Tableau de bord"></span> </a></li>
        <li ng-if="user.roles==='ADM'"><a href="#/admin/enseignants"><i class="fa fa-group"></i>&nbsp;<span data-i18n="Enseignants"></span></a></li>                
        <li ng-if="user.roles==='ADM'"><a href="#/admin/formations"><i class="fa fa-th-list" ></i>&nbsp;<span data-i18n="Formations"></span></a></li>      
        <li ng-if="user.roles==='ENS'"><a href="#/admin/evaluations"><i class="fa fa-th-list" ></i>&nbsp;<span data-i18n="Evaluations"></span></a></li>      
        
        <li ng-show="user.roles==='ADM'">
            <a href="#/admin/parametrage"><i class="fa fa-book"></i><span data-i18n="Parametrage Evaluations"></span></a>
            <ul>
				  <li><a href="#/admin/qualificatifs"><i class="fa fa-star"></i>&nbsp;<span data-i18n="Gestion Qualificatifs"></span></a></li>
				  <li><a href="#/admin/rubriques"><i class="fa fa-list" ></i>&nbsp;<span data-i18n="Gestion Rubriques"></span></a></li>
				  <li><a href="#/admin/questions"><i class="fa fa-question"></i>&nbsp;<span data-i18n="Gestion Questions"></span></a></li>               
            </ul>
        </li>
        <li ng-if="user.roles==='ADM'"><a href="#/admin/promotions"><i class="fa fa-graduation-cap" ></i>&nbsp;<span data-i18n="Promotions"></span></a></li>
    </ul>
   
</div>