<div class="page" ng-controller="EtudDetailsController">
  <div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> Etudiant</strong></div>
    <div class="panel-body">
<!-- Consultation -->
        <div class="media animate" ng-hide="edit">
           
            <div class="media-body"> 
            
                <ul class="list-unstyled list-info">
                
                	<li>
                        <span class="fa fa-sort-numeric-asc"></span>
                        <label>Numero Etudiant</label>
                        {{etudiant.noEtudiant}}<br/>
                    </li> 
                    <li>
                        <span class="icon glyphicon glyphicon-user"></span>
                        <label>Nom et pr&eacute;nom</label>
                        {{etudiant.nom}} {{etudiant.prenom}}<br/>
                    </li>
                     <li>
                        <span class="fa fa-mars-stroke"></span>
                        <label>Sexe</label>
                        {{etudiant.sexe}}
                    </li>
                     <li>
                        <span class="icon glyphicon glyphicon-earphone"></span>
                        <label>Nationalite</label>
                        {{etudiant.nationalite}}
                    </li>
                    <li>
                        <span class="fa fa-calendar"></span>
                        <label>Date de naissance</label>
                        {{etudiant.dateNaissance | date:"dd/MM/yyyy"}}
                    </li>
                    <li>
                        <span class="fa fa-home"></span>
                        <label>Lieu de naissance</label>
                        {{etudiant.lieuNaissance}}
                    </li>
                    <li>
                        <span class="fa fa-flag"></span>
                        <label>Pays d&acute;origine</label>
                        {{etudiant.paysOrigine}}
                    </li>
                    <li>
                        <span class="fa fa-map-marker"></span>
                        <label>Adresse</label>
                        {{etudiant.adresse}} {{etudiant.codePostal}} {{etudiant.ville}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-envelope"></span>
                        <label>E-mail</label>                        
                        {{etudiant.email}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-envelope"></span>
                        <label>E-mail UBO</label>                        
                        {{etudiant.emailUbo}}
                    </li>
                     <li>
                        <span class="fa fa-phone"></span>
                        <label>T&eacute;l</label>                        
                        {{etudiant.telephone}}
                    </li>
                     <li>
                        <span class="fa fa-mobile"></span>
                        <label>Mobile</label>                        
                        {{etudiant.mobile}}
                    </li>
                    <li>
                        <span class="fa fa-university"></span>
                        <label>Universite d'origine</label>
                        {{etudiant.universiteOrigine}}
                    </li>  
                                      
                </ul>                
            </div>
           <!--  <div class="row">
                <div class="col-md-6" ng-show="etudiant.promotionCollection.length">            
                    <div class="panel-body table-responsive" >
                        <strong><span class="fa fa-graduation-cap"></span> Promotions</strong>
                        <table class="table" >
                            <thead>
                                <tr>
                                	<th>Code Formation</th>
                                    <th>Année Universitaire</th>
                                    <th>Numéro ann&eacute;e</th>
                                    <th>Designation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in etudiant.promotionCollection">
                                	<td>{{p.promotionPK.codeFormation}}</td>
                                    <td>{{p.promotionPK.anneeUniversitaire}}</td>
                                    <td>{{p.formation.n0Annee}}</td>
                                    <td>{{p.formation.nomFormation}}</td>
                                </tr>                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
            <a class="btn btn-primary" href="#/admin/promotions"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
        </div>

        <!-- Edition -->
        <div ng-show="edit">  
<!-- <<<<<<< HEAD -->
<!--             <form class="form-horizontal" data-toggle="validator" role="form" name="EtudiantForm"> -->
            
<!--             	<div class="form-group row" ng-class="{ 'has-error' : EtudiantForm.etudiantnum.$invalid && !EtudiantForm.etudiantnum.$pristine|| -->
<!--             										 'has-error' : EtudiantForm.Nom.$invalid && !EtudiantForm.Nom.$pristine|| -->
<!--             										 'has-error' : EtudiantForm.prenom.$invalid && !EtudiantForm.prenom.$pristine  }"> -->
<!--                     <label for="" class="col-sm-2"> Numero Etudiant</label> -->
<!--                     <div class="col-sm-2"> -->
<!--                         <input type="text" class="form-control" -->
<!--                         ng-pattern="/^[0-9]{1,10}$/" -->
<!--                         required -->
<!--                         name="etudiantnum"  -->
<!--                         ng-model="etudiant.num"> -->
<!--                         <span style="color: red" ng-show="EtudiantForm.etudiantnum.$dirty && EtudiantForm.etudiantnum.$invalid"> -->
<!-- 								<span ng-show="EtudiantForm.etudiantnum.$error.required"> ce champs est obligatoire </span> -->
<!-- 								<span ng-show="EtudiantForm.etudiantnum.$error.pattern"> format non valide </span> -->
                
<!--                     </div>     -->

<!--                 </div> -->
<!--                 <div class="form-group"> -->

<!--                     <label for="" class="col-sm-2"> Nom</label> -->
<!--                     <div class="col-sm-2"> -->
<!--                         <input type="text"  -->
<!--                         required -->
<!--                         ng-pattern="/^[A-Za-z' \-]+$/" -->
<!--                         name="Nom" -->
<!--                         class="form-control"  -->
<!--                         ng-model="etudiant.nom"> -->
<!--                         <span style="color: red" ng-show="EtudiantForm.Nom.$dirty && EtudiantForm.Nom.$invalid"> -->
<!-- 						<span ng-show="EtudiantForm.Nom.$error.required"> ce champs est obligatoire </span> -->
<!-- 						<span ng-show="EtudiantForm.Nom.$error.pattern"> format non valide </span> -->
<!--                     </div>                     -->
<!--                     <label for="" class="col-sm-2"> Prénom</label> -->
<!--                     <div class="col-sm-2"> -->
<!--                         <input type="text"  -->
<!--                         class="form-control" -->
<!--                         required -->
<!--                         ng-pattern="/^[A-Za-z' \-]+$/" -->
<!--                         name="prenom" -->
<!--                         ng-model="etudiant.prenom"> -->
<!--                         <span style="color: red" ng-show="EtudiantForm.prenom.$dirty && EtudiantForm.prenom.$invalid"> -->
<!-- 						<span ng-show="EtudiantForm.prenom.$error.required"> ce champs est obligatoire </span> -->
<!-- 						<span ng-show="EtudiantForm.prenom.$error.pattern"> format non valide </span> -->
                               
<!--                     </div>                     -->
<!--                 </div> -->
<!--                 <div class="form-group" ng-class="{ 'has-error' : EtudiantForm.nationalite.$invalid && !EtudiantForm.nationalite.$pristine || -->
<!--                 									 'has-error' : EtudiantForm.email.$invalid && !EtudiantForm.email.$pristine }"> -->
<!--                     <label for="" class="col-sm-2"> Sexe</label> -->
<!--                     <div class="col-sm-2"> -->
<!-- <!--                         <label class="ui-radio"><input name="radio1" type="radio" value="H" ng-model="etudiant.sexe"/><span>Homme</span></label> -->
<!--                         <label class="ui-radio"><input name="radio1" type="radio" value="F" ng-model="etudiant.sexe"/><span>Femme</span></label> -->
<!--                   <label class="btn btn-default"><input type="radio" name="optradio" value="H" ng-model="etudiant.sexe">Homme</label> -->
<!-- 						<label class="btn btn-default"><input type="radio" name="optradio" value="F" ng-model="etudiant.sexe">Femme</label> -->
                    
<!--                     </div>                     -->
                
<!--                     <label for="" class="col-sm-2"> Nationalite</label> -->
<!--                     <div class="col-sm-2"> -->
<!--                         <input type="text"  -->
<!--                         class="form-control" -->
<!--                         required -->
<!--                         ng-pattern="/^[A-Za-z' \-]+$/" -->
<!--                         name="nationalite" -->
<!--                         ng-model="etudiant.nationalite" > -->
<!--                         <span style="color: red" ng-show="EtudiantForm.nationalite.$dirty && EtudiantForm.nationalite.$invalid"> -->
<!-- 						<span ng-show="EtudiantForm.nationalite.$error.required"> ce champs est obligatoire </span> -->
<!-- 						<span ng-show="EtudiantForm.nationalite.$error.pattern"> format non valide </span> -->
<!--                     </div>                     -->
                
<!--                     <label for="" class="col-sm-2"> E-mail</label> -->

<!--                     <div class="col-sm-2"> -->
<!--                         <input type="email"  -->
<!--                         class="form-control" -->
<!--                         required -->
<!--                         name="email" -->
<!--                         ng-model="etudiant.email"> -->
<!--                         <span style="color: red" ng-show="EtudiantForm.email.$dirty && EtudiantForm.email.$invalid"> -->
<!-- 						<span ng-show="EtudiantForm.email.$error.required"> ce champs est obligatoire </span> -->
<!-- 						<span ng-show="EtudiantForm.email.$error.email"> format non valide </span> -->

<!--                     </div>                     -->
<!--                 </div> -->
<!--                 <div class="form-group" ng-class="{ 'has-error' : EtudiantForm.DateN.$invalid && !EtudiantForm.DateN.$pristine || -->
<!--                 									'has-error' : EtudiantForm.lieuNaissance.$invalid && !EtudiantForm.lieuNaissance.$pristine || -->
<!--                 									'has-error' : EtudiantForm.adresse.$invalid && !EtudiantForm.adresse.$pristine }"> -->
<!--                     <label for="" class="col-sm-2"> Date de Naissance</label> -->

<!--                     <div class="col-sm-2"> -->
<!--                         <input type="date"  -->
<!--                         class="form-control" -->
<!--                         required -->
<!--                         name="DateN" -->
<!--                         ng-model="etudiant.dateNaissance"> -->
<!--                         <span style="color: red" ng-show="EtudiantForm.DateN.$dirty && EtudiantForm.DateN.$invalid"> -->
<!-- 						<span ng-show="EtudiantForm.DateN.$error.required"> ce champs est obligatoire </span> -->
<!--                     </div>                     -->
                
<!--                     <label for="" class="col-sm-1"> Lieu de Naissance</label>	 -->
<!--                     <div class="col-sm-2"> -->
<!--                         <input type="text"  -->
<!--                         class="form-control" -->
<!--                         required -->
<!--                         ng-pattern="/^[A-Za-z' \-]+$/" -->
<!--                         name="lieuNaissance" -->
<!--                         ng-model="etudiant.lieuNaissance"> -->
<!--                         <span style="color: red" ng-show="EtudiantForm.lieuNaissance.$dirty && EtudiantForm.lieuNaissance.$invalid"> -->
<!-- 						<span ng-show="EtudiantForm.lieuNaissance.$error.required"> ce champs est obligatoire </span> -->
<!-- 						<span ng-show="EtudiantForm.lieuNaissance.$error.pattern"> format non valide </span> -->
<!--                     </div>                     -->
                    
<!--                     <label for="" class="col-sm-2"> Adresse</label> -->
<!--                     <div class="col-sm-3"> -->
<!--                         <input type="text"  -->
<!--                         class="form-control" -->
<!--                         required -->
<!--                         ng-pattern="/^[A-Za-z' \-]+$/" -->
<!--                         name="adresse" -->
<!--                         ng-model="etudiant.adresse"> -->
<!--                         <span style="color: red" ng-show="EtudiantForm.adresse.$dirty && EtudiantForm.adresse.$invalid"> -->
<!-- 						<span ng-show="EtudiantForm.adresse.$error.required"> ce champs est obligatoire </span> -->
<!-- 						<span ng-show="EtudiantForm.adresse.$error.pattern"> format non valide </span> -->
<!--                     </div>                     -->
<!--                 </div> -->
<!--                 <div class="form-group" ng-class="{ 'has-error' : EtudiantForm.Ville.$invalid && !EtudiantForm.Ville.$pristine }"> -->
<!--                     <label for="" class="col-sm-2"> Universite d'Origine</label> -->

<!--                     <div class="col-sm-3"> -->

            <form class="form-horizontal" data-toggle="validator" role="form" name="EtudiantForm">
            <fieldset class="scheduler-border">
    		<legend class="scheduler-border">Personnel</legend>
            	<div class="form-group" ng-class="{ 'has-error' : EtudiantForm.etudiantnum.$invalid && !EtudiantForm.etudiantnum.$pristine||
            										 'has-error' : EtudiantForm.Nom.$invalid && !EtudiantForm.Nom.$pristine||
            										 'has-error' : EtudiantForm.prenom.$invalid && !EtudiantForm.prenom.$pristine  }">
                    <label for="" class="col-sm-2"> Numero Etudiant <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" 
                        ng-pattern="/^[0-9]{1,10}$/"
                        required
                        name="etudiantnum" 
                               ng-model="etudiant.noEtudiant" >
                                <span style="color: red" ng-show="EtudiantForm.etudiantnum.$dirty && EtudiantForm.etudiantnum.$invalid">
								<span ng-show="EtudiantForm.etudiantnum.$error.required"> ce champs est obligatoire </span>
								<span ng-show="EtudiantForm.etudiantnum.$error.pattern"> format non valide </span>
                               
                
                    </div> 
                    <label for="" class="col-sm-2"> Nom <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
                        
                     <input type="text" required
                       ng-pattern="/^[A-Za-z' \-]+$/" 
                      name="Nom"
           			  class="form-control"
                       ng-model="etudiant.nom">
                        <span style="color: red" ng-show="EtudiantForm.Nom.$dirty && EtudiantForm.Nom.$invalid"> 
					<span ng-show="EtudiantForm.Nom.$error.required"> ce champs est obligatoire </span> 
						<span ng-show="EtudiantForm.Nom.$error.pattern"> format non valide </span> 
                    </div>  
                       <label for="" class="col-sm-2"> Prénom <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                               ng-model="etudiant.prenom">
                    </div>  
                </div>
               </fieldset>
               <fieldset class="scheduler-border">
    		<legend class="scheduler-border">Nationnalit&eacute; </legend>
                 <div class="form-group" ng-class="{ 'has-error' : EtudiantForm.nationalite.$invalid && !EtudiantForm.nationalite.$pristine ||
                									 'has-error' : EtudiantForm.DateN.$invalid && !EtudiantForm.DateN.$pristine}">
                    <label for="" class="col-sm-2"> Sexe <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
					
					 <label class="btn btn-default"><input name="radio1" type="radio" value="H" ng-model="etudiant.sexe"><span>Homme</span></label>
                     <label class="btn btn-default"><input name="radio1" type="radio" value="F" ng-model="etudiant.sexe"><span>Femme</span></label>
					
					
                    </div> 
                            <label for="" class="col-sm-2"> Nationalite <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                        required 
                         ng-pattern="/^[A-Za-z' \-]+$/"
                         name="nationalite" 
                         ng-model="etudiant.nationalite" >
                         <span style="color: red" ng-show="EtudiantForm.nationalite.$dirty && EtudiantForm.nationalite.$invalid">
						<span ng-show="EtudiantForm.nationalite.$error.required"> ce champs est obligatoire </span>
						<span ng-show="EtudiantForm.nationalite.$error.pattern"> format non valide </span>
                         
                    </div>  
                    <label for="" class="col-sm-2"> Date de Naissance <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
                        <input type="date" class="form-control"
                        required
                        name="DateN"
                        ng-model="etudiant.dateNaissance" >
                        <span style="color: red" ng-show="EtudiantForm.DateN.$dirty && EtudiantForm.DateN.$invalid">
						<span ng-show="EtudiantForm.DateN.$error.required"> ce champs est obligatoire </span>
                             
                    </div>             
                </div>
                <div class="form-group" ng-class="{ 'has-error' : EtudiantForm.lieuNaissance.$invalid && !EtudiantForm.lieuNaissance.$pristine" >
                    
                    <label for="" class="col-sm-2"> Lieu de Naissance <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                        required
                        ng-pattern="/^[A-Za-z' \-]+$/"
                        name="lieuNaissance"
                        ng-model="etudiant.lieuNaissance">
                        <span style="color: red" ng-show="EtudiantForm.lieuNaissance.$dirty && EtudiantForm.lieuNaissance.$invalid">
						<span ng-show="EtudiantForm.lieuNaissance.$error.required"> ce champs est obligatoire </span>
						<span ng-show="EtudiantForm.lieuNaissance.$error.pattern"> format non valide </span>
                        
                    </div>

                     <label for="" class="col-sm-2"> Pays d'origine <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
                    
     
                    
						<select ng-model="etudiant.paysOrigine" class="form-control">
 								<option ng-repeat="pay in pays" value="{{pay.rvAbbreviation}}" ng-selected="{{pay.rvMeaning == etudiant.paysOrigine}}" >{{pay.rvMeaning}}</option>
 						</select>

                    </div>  
                    <label for="" class="col-sm-2"> Universite d'Origine <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
<!--                         <input type="text" class="form-control" -->
<!--                                ng-model="etudiant.universiteOrigine"> -->

						<select ng-model="etudiant.universiteOrigine" class="form-control">
 								<option ng-repeat="univ in univ" value="{{univ.rvAbbreviation}}" ng-selected="{{univ.rvMeaning == etudiant.universiteOrigine}}" >{{pay.rvMeaning}}{{univ.rvMeaning}}</option>
 						</select>

<!-- <<<<<<< HEAD -->
<!--                     </div>                     -->
                
<!--                     <label for="" class="col-sm-1"> Ville</label> -->
<!--                     <div class="col-sm-2"> -->
<!--                         <input type="text"  -->
<!--                         class="form-control" -->
<!--                         required -->
<!--                         ng-pattern="/^[A-Za-z' \-]+$/" -->
<!--                         name="Ville" -->
<!--                         ng-model="etudiant.ville"> -->
<!--                         <span style="color: red" ng-show="EtudiantForm.Ville.$dirty && EtudiantForm.Ville.$invalid"> -->
<!-- 						<span ng-show="EtudiantForm.Ville.$error.required"> ce champs est obligatoire </span> -->
<!-- 						<span ng-show="EtudiantForm.Ville.$error.pattern"> format non valide </span> -->
<!--                     </div>                     -->
<!--                     <label for="" class="col-sm-2"> Pays d'origine</label> -->

<!--                     <div class="col-sm-2"> -->

<!-- <!--                         <input type="text" class="form-control" --> 
<!-- <!--                                ng-model="etudiant.paysOrigine"> --> 

<!-- 						<select ng-model="etudiant.paysOrigine" class="form-control"> -->
<!--  								<option ng-repeat="pay in pays" value="{{pay.rvAbbreviation}}">{{pay.rvMeaning}}</option> -->
<!--  						</select> -->
<!-- ======= -->
                    </div>                       
                </div>
                </fieldset>
                <fieldset class="scheduler-border">
    		<legend class="scheduler-border">Adresse</legend>
                           <div class="form-group">
                    <label for="" class="col-sm-2"> Adresse <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                               ng-model="etudiant.adresse">
                    </div>  
                        <label for="" class="col-sm-2"> Code Postal</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                               ng-model="etudiant.codePostal">
                    </div>
                    <label for="" class="col-sm-2"> Ville <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                               ng-model="etudiant.ville">
                    </div>                   
                </div>
                </fieldset>
                 <fieldset class="scheduler-border">
    		<legend class="scheduler-border">Contact</legend>
                <div class="form-group">
                    <label for="" class="col-sm-2"> E-mail <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
                        <input type="email" class="form-control"
                               ng-model="etudiant.email">
                    </div> 
                    <label for="" class="col-sm-2"> E-mail UBO</label>
                    <div class="col-sm-2">
                        <input type="email" class="form-control"
                               ng-model="etudiant.emailUbo">
                    </div>  
                     <label for="" class="col-sm-2">Mobile</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                               ng-model="etudiant.mobile">
                    </div>                      
                </div>
               </fieldset>
       
                <div class="form-group">
                                      
                </div>
                     <div class="form-group">
                    <label for="" class="col-sm-2">Groupe TP</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                               ng-model="etudiant.groupeTp">
                    </div> 
                     
                     
                    <label for="" class="col-sm-2">Groupe Anglais</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                               ng-model="etudiant.groupeAnglais">

                    </div>                    
                </div>
                    
            </form>
            <a class="btn btn-success" ng-click="submit()" ng-disabled="EtudiantForm.$invalid"><span class="glyphicon glyphicon-ok"></span> Valider</a>
            <button class="btn btn-danger pull-right" ng-click="cancel()"> Annuler</button>
        </div>
    </div>
  </div>
</div>
