<!-- <div class="page page-table" data-ng-controller="EtudiantsController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> etudiants</strong>
       <span class="add fa fa-user-plus pull-right" ng-click="ajoutEtudiant()"></span>
        </div>

          <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filteredEtudiant.length}}/{{etudiants.length}}
                    </span>              
                </div>
            </div>
        </div>  

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Nom
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('nom') "
                              data-ng-class="{active: row == 'nom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-nom') "
                              data-ng-class="{active: row == '-nom'}"></span>
                    </div></th>
                    <th><div class="th">
                        Prénom
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('prenom') "
                              data-ng-class="{active: row == 'prenom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-prenom') "
                              data-ng-class="{active: row == '-prenom'}"></span>
                    </div></th>
                    <th><div class="th">
                        E-mail
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>currentPageEtudiant / etudiants
                <tr data-ng-repeat="e in currentPageEtudiant">
                    <td >{{e.nom}}</td>
                    <td >{{e.prenom}}</td>
                    <td >{{e.email}}</td>
                    <td><span class="remove fa fa-remove" ng-click="supprime(e.noEtudiant)"></span></td>
<td><span class="fa fa-info-circle fa-2x" style="color: #eec95a; cursor: pointer"; ng-click="edit(e)"></span></td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredEtudiant.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                next-text="Suivant"
                                previous-text="Precedant"
                                first-text ="Debut"
                                last-text="Fin"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
 -->