<div class="page" ng-controller="PromoDetailsController">
  <div class="panel panel-default ens-edit">


    <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> Promotion</strong></div>
    <div class="panel-body">      
    	<!-- consultation -->
    	 <div class="media animate" ng-hide="edit">
<!--             <button class="btn btn-warning pull-right" ng-click="edition()"><span class="glyphicon glyphicon-pencil"></span> Editer</button>
 -->            <div class="media-body"> 
                 <ul class="list-unstyled list-info">
                    <li>
                        <span class="icon glyphicon glyphicon-ok"></span>
                        <label style="width:200px;">Code Formation</label>
                        {{ promo.promotionPK.codeFormation }}
                        
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-ok"></span>
                        <label style="width:200px;">Annee Universitaire</label>                        
                        {{promo.promotionPK.anneeUniversitaire}}
                    </li>
                    
                    <li>
                        <span class="icon glyphicon glyphicon-ok"></span>
                        <label style="width:200px;">Enseignant responsable</label>                        
                        {{promo.noEnseignant.prenom}}  {{promo.noEnseignant.nom}}
                    </li>
                    
                    <li>
                        <span class="icon glyphicon glyphicon-ok"></span>
                        <label style="width:200px;">Sigle</label>
                        {{promo.siglePromotion}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-ok"></span>
                        <label style="width:200px;">Nombre Etudiants max</label>
                        {{promo.nbMaxEtudiant}}
                    </li> 
                    
                    <li>
                        <span class="icon glyphicon glyphicon-ok"></span>
                        <label style="width:200px;">Date reponse LP</label>                        
                        {{promo.dateReponseLp | date:'dd/MM/yyyy'}}
                    </li>
                    
                    <li>
                        <span class="icon glyphicon glyphicon-ok"></span>
                        <label style="width:200px;">Data reponse LALP</label>                        
                        {{promo.dateReponseLalp | date:'dd/MM/yyyy'}}
                    </li>
                    
                    <li>
                        <span class="icon glyphicon glyphicon-ok"></span>
                        <label style="width:200px;">Date rentree</label>                        
                        {{promo.dateRentree | date:'dd/MM/yyyy'}}
                    </li>
                    
                    <li>
                        <span class="icon glyphicon glyphicon-ok"></span>
                        <label style="width:200px;">Lieu rentree</label>                        
                        {{promo.lieuRentree}}
                    </li> 
                    
                    <li>
                        <span class="icon glyphicon glyphicon-ok"></span>
                        <label style="width:200px;">Processus Stage</label>                        
                        {{promo.processusStage}}
                    </li>
                    
                    <li>
                        <span class="icon glyphicon glyphicon-ok"></span>
                        <label style="width:200px;">Commentaire</label>                        
                        {{promo.commentaire}}
                    </li>
                            
                </ul>                
            </div>
              
               
               <a class="btn btn-primary" href="#/admin/promotions"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
        </div>
      
        <!-- Edition -->
           
         <div ng-show="edit">        
            <form class="form-horizontal" name="pro" novalidate>
                <div class="form-group">
                    <label for="" class="col-sm-2">Code Formation <span class="obligatoire">*</span></label>
                    <div class="col-sm-2">
                        <select ng-model="promo.codeFormation" class="form-control" required>
 							<option ng-repeat="f in formations" >{{f.codeFormation}}</option>
 						</select>
                    </div> 
                    <label for="" class="col-sm-2">Annee Universitaire <span class="obligatoire">*</span></label>
                    <div class="col-sm-2" ng-class="{ 'has-error' : pro.anu.$invalid && !pro.anu.$pristine}">
                        <input name="anu" type="text" class="form-control" ng-pattern="/^[A-Za-z0-9 -]+$/" required ng-minlength="1" ng-maxlength="10"
							   ng-model="promo.anneeUniversitaire">
                        <p ng-show="pro.anu.$invalid && !pro.anu.$pristine" class="help-block">L'annee ne peut contenir plus de 10 caractere</p>
                    </div> 
                    <label for="" class="col-sm-2">Enseignant Responsable</label>
                    <div class="col-sm-2">
                        <select ng-model="promo.noEnseignant" class="form-control">
 							<option ng-repeat="e in ens" value="{{e.noEnseignant}}">{{e.prenom}} {{e.nom}}</option>
 						</select>
                    </div>                     
                </div>                
                <div class="form-group">
                    <label for="" class="col-sm-2">Sigle</label>
                    <div class="col-sm-2"  ng-class="{ 'has-error' : pro.si.$invalid && !pro.si.$pristine}">
                        <input name="si" type="text" class="form-control" ng-pattern="/^[A-Za-z '-]+$/"  ng-minlength="0" ng-maxlength="16"
                               ng-model="promo.siglePromotion">
                        <p ng-show="pro.si.$invalid && !pro.si.$pristine" class="help-block">Le sigle est invalide</p>
                    </div>
                     <label for="" class="col-sm-2">Nombre max <span class="obligatoire">*</span></label>
                    <div class="col-sm-2" ng-class="{ 'has-error' : pro.nb.$invalid && !pro.nb.$pristine}">
                        <input name="nb" type="number" class="form-control" required
                               ng-model="promo.nbMaxEtudiant">
                        <p ng-show="pro.nb.$invalid && !pro.nb.$pristine" class="help-block">Saisir un nombre</p>
                    </div> 
                     <label for="" class="col-sm-2">Lieu rentree</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"
                               ng-model="promo.lieuRentree">
                    </div>                   
                </div>
                <div class="form-group">
                      <label for="" class="col-sm-2">Data reponse LP</label>
                    <div class="col-sm-2">
                        <input type="date" class="form-control"
                               ng-model="promo.dateReponseLp">
                    </div>
                     <label for="" class="col-sm-2">Data reponse LALP</label>
                    <div class="col-sm-2">
                        <input type="date" class="form-control"
                               ng-model="promo.dateReponseLalp">
                    </div>  
                     <label for="" class="col-sm-2">Date rentree</label>
                    <div class="col-sm-2">
                        <input type="date" class="form-control"
                               ng-model="promo.dateRentree">
                    </div>                    
                </div>    
                
                <div class="form-group">
                      <label for="" class="col-sm-2">Processus stage</label>
                    <div class="col-sm-2">
                        <select ng-model="promo.processusStage" class="form-control">
 							<option ng-repeat="p in proces" value="{{p.rvAbbreviation}}">{{p.rvMeaning}}</option>
 						</select>
                    </div>  
                     <label for="" class="col-sm-2">Commentaire</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control"
                               ng-model="promo.commentaire">
                    </div>                    

                </div>             
                            
            </form>
            <p><span class="obligatoire">*</span> <strong>Champs obligatoires</strong></p>
            <a class="btn btn-success" ng-disabled="pro.$invalid" ng-click="submit()"><span class="glyphicon glyphicon-ok"></span> Valider</a>
            <button class="btn btn-danger pull-right" ng-click="cancel()"> Annuler</button>
        </div>
    </div>
  </div>
</div>
