<div class="page page-table" data-ng-controller="PromotionsController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> Promotions</strong>
    <span class="btn btn-primary fa fa-user-plus pull-right" ng-click="ajoutPromotion()">Ajouter Promotion</span>
        </div>

          <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filteredPromotions.length}}/{{promotions.length}}
                    </span>              
                </div>
            </div>
        </div>  

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Ann&eacute;e
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('nom') "
                              data-ng-class="{active: row == 'nom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-nom') "
                              data-ng-class="{active: row == '-nom'}"></span>
                    </div></th>
                    <th><div class="th">
                        Formation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('prenom') "
                              data-ng-class="{active: row == 'prenom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-prenom') "
                              data-ng-class="{active: row == '-prenom'}"></span>
                    </div></th>
                    <th><div class="th">
                        Enseignant Responsable
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('prenom') "
                              data-ng-class="{active: row == 'prenom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-prenom') "
                              data-ng-class="{active: row == '-prenom'}"></span>
                    </div></th>
                    <th><div class="th">
                        Nombre Etudiants
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">
                       Sigle
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">Action</div></th>
                </tr>
            </thead>
            <tbody><!-- currentPageEnseignant / enseignants -->
                <tr data-ng-repeat="p in currentPagePromotions" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                    <td ng-click="afficherEtudiants(p)">{{p.promotionPK.anneeUniversitaire}}</td>
                    <td ng-click="afficherEtudiants(p)">{{p.promotionPK.codeFormation}}</td>
                    <td ng-click="afficherEtudiants(p)">{{p.noEnseignant.prenom}} {{p.noEnseignant.nom}}</td>
                    <td ng-click="afficherEtudiants(p)">{{p.nbreEtu}}</td>
                     <td ng-click="afficherEtudiants(p)">{{p.siglePromotion}}</td>
<!--                     <td><span class="remove fa fa-remove" ng-click="supprime(e.noEnseignant)"></span></td> -->
					<td>
						<span class="fa fa-info-circle fa-2x" style="color: #eec95a; cursor: pointer"; ng-click="edit(p)"></span>
						<span class="fa fa-trash" style="color: #D55; font-size: 2em; padding: 5px; cursor: pointer" ng-click="supprime(p)"></span>
					</td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredPromotions.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
    


 <div ng-show="IsHiddenEtu">
 <div class="page page-table" data-ng-controller="PromotionsController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> etudiants</strong>
        <span class="btn btn-primary fa fa-user-plus pull-right" ng-click="ajoutEtudiant()">Ajouter Etudiant</span> 
        </div>

          <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywordsEt"
                               data-ng-keyup="searchEt()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filteredEtudiant.length}}/{{etudiants.length}}
                    </span>              
                </div>
            </div>
        </div>  

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Nom
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" orderEt('nom') "
                              data-ng-class="{active: row == 'nom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" orderEt('-nom') "
                              data-ng-class="{active: row == '-nom'}"></span>
                    </div></th>
                    <th><div class="th">
                        Prénom
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" orderEt('prenom') "
                              data-ng-class="{active: row == 'prenom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" orderEt('-prenom') "
                              data-ng-class="{active: row == '-prenom'}"></span>
                    </div></th>
                    <th><div class="th">
                        Num&eacute;ro &eacute;tudiant
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('nom') "
                              data-ng-class="{active: row == 'nom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-nom') "
                              data-ng-class="{active: row == '-nom'}"></span>
                    </div></th>
                    <th><div class="th">
                        E-mail
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" orderEt('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" orderEt('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th> 
                        <th><div class="th">
                       T&eacute;l&eacute;phone
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>    
                         <th><div class="th">
                       Universite d'Origine
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>    
                              <th><div class="th">
                      Action
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>          
                    <th></th>
                </tr>
            </thead>
            <tbody ><!-- currentPageEtudiant / etudiants -->
                <tr data-ng-repeat="e in currentPageEtudiant">
                    <td >{{e.nom}}</td>
                    <td >{{e.prenom}}</td>
                     <td >{{e.noEtudiant}}</td>
                    <td >{{e.email}}</td>
                     <td>{{e.telephone}}</td>
                    <td> {{e.universiteOrigine}}</td>
                   
  <td>               
<span class="fa fa-info-circle fa-2x" style="color: #eec95a; cursor: pointer"; ng-click="edite(e)"></span>
<span class="fa fa-pencil-square-o" style="color:#7FC6BC; font-size: 2em; padding: 5px; cursor: pointer" ng-click="modifEtu(e)"></span>
<span class="fa fa-trash" style="color: #D55; font-size: 2em; padding: 5px; cursor: pointer" ng-click="supprimeEtu(e.noEtudiant)"></span></td>

            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPageEt"
                                data-ng-options="num for num in numPerPageOptEt"
                                data-ng-change="onNumPerPageChangeEt()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPageEt"
                                total-items="filteredEtudiant.length"
                                max-size="4"
                                ng-change="selectEt(currentPageEt)"
                                items-per-page="numPerPageEt"
                                rotate="false"
                                next-text="Suivant"
                                previous-text="Precedant"
                                first-text ="Debut"
                                last-text="Fin"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
 
 </div>

</div>
