<div class="page" ng-controller="QualDetailsController">
  <div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> Qualificatif</strong></div>
    <div class="panel-body">
     <!-- Consultation -->
        <div class="media animate" ng-hide="edit">
            <button class="btn btn-warning pull-right" ng-click="edition()"><span class="glyphicon glyphicon-pencil"></span> Editer</button>
            <div class="media-body"> 
                <ul class="list-unstyled list-info">
                    <li>
                        <span class="icon glyphicon glyphicon-user"></span>
                        <label>Minimal</label>
                        {{qualificatif.maximal}}<br/>
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-home"></span>
                        <label>Maximal</label>
                        {{qualificatif.minimal}}
                    </li>                 
                </ul>                
            </div>
           
            <button class="btn btn-danger pull-right" ng-click="cancel()">Retour</button>
        </div>
        <!-- Edition -->
         <div ng-show="edit">            
            <form class="form-horizontal" name="QualificatifForm" novalidate>
                <div class="form-group row">
                    <label for="" class="col-sm-2">Minimal <span class="obligatoire">*</span></label>
                    <div class="col-sm-4" ng-class="{ 'has-error' : QualificatifForm.min.$invalid && !QualificatifForm.min.$pristine}">
                        <input type="text" required ng-pattern="/^[A-Za-z' \-]+$/" name="min" class="form-control" ng-minlength="1" ng-maxlength="16" 
                        ng-model="qualificatif.minimal">
                        <p ng-show="QualificatifForm.min.$invalid && !QualificatifForm.min.$pristine" class="help-block">1 &agrave; 16 caract&egrave;re sans les chiffres</p>
                    </div>	
                    <label for="" class="col-sm-2">Maximal <span class="obligatoire">*</span></label>
                    <div class="col-sm-4" ng-class="{ 'has-error' : QualificatifForm.max.$invalid && !QualificatifForm.max.$pristine}">
                        <input type="text" required ng-pattern="/^[A-Za-z' \-]+$/" name="max" class="form-control" ng-minlength="1" ng-maxlength="16"
                               ng-model="qualificatif.maximal">
                        <p ng-show="QualificatifForm.max.$invalid && !QualificatifForm.max.$pristine" class="help-block">1 &agrave; 16 caract&egrave;re sans les chiffres</p>
                    </div>	
                </div>
            </form>
            <p><span class="obligatoire">*</span> <strong>Champs obligatoires</strong></p>
            <a class="btn btn-success" ng-click="submit()" ng-disabled="QualificatifForm.$invalid"><span class="glyphicon glyphicon-ok"></span> Valider</a>
            <button class="btn btn-danger pull-right" ng-click="cancel()"> Annuler</button>
        </div>
      </div>
   </div>
</div>