<div class="page page-table" data-ng-controller="QualificatifController">

<div class="page page-dashboard" >

<!--     stats -->
<!--     <div class="row"> -->
        
<!--         <div class="col-lg-4 col-xsm-6"> -->
<!--             	<button type="button" class="btn btn-lg btn-primary" ng-click="ShowHideQual()">Gestion Qualificatif</button> -->
<!--         </div> -->
<!--         <div class="col-lg-4 col-xsm-6"> -->
<!--             	<button type="button" class="btn btn-lg btn-primary" ng-click="ShowHideRub()">Gestion Rubrique</button> -->
<!--         </div> -->
<!--         <div class="col-lg-4 col-xsm-6"> -->
<!--             	<button type="button" class="btn btn-lg btn-primary" ng-click="ShowHideQue()">Gestion Question</button> -->
<!--         </div> -->

<!--     </div> -->
<!--     end stats -->


<!-- <div class="media animate" ng-hide="active"> -->
<!--     <section class="panel panel-default table-dynamic"> -->
<!--         <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Qualificatif</strong> -->
<!--         <span class="add fa fa-user-plus pull-right" ng-click="ajoutQualificatif()"></span> -->
<!--         </div> -->

<!--           <div class="table-filters"> -->
<!--             <div class="row"> -->
<!--                 <div class="col-sm-4 col-xs-6"> -->
<!--                     <form> -->
<!--                         <input type="text" -->
<!--                                placeholder="search" -->
<!--                                class="form-control" -->
<!--                                data-ng-model="searchKeywords" -->
<!--                                data-ng-keyup="search()"> -->
<!--                     </form> -->
<!--                 </div> -->
<!--                 <div class="col-sm-3 col-xs-6 filter-result-info"> -->
<!-- 						Affiche {{filteredQualif.length}}/{{qual.length}} -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div>   -->

<!--         <table class="table table-bordered table-striped table-responsive"> -->
<!--             <thead> -->
<!--                 <tr> -->
<!--                     <th><div class="th"> -->
<!--                       ID -->
<!--                         <span class="glyphicon glyphicon-chevron-up" -->
<!--                               data-ng-click=" order('nom') " -->
<!--                               data-ng-class="{active: row == 'nom'}"></span> -->
<!--                         <span class="glyphicon glyphicon-chevron-down" -->
<!--                               data-ng-click=" order('-nom') " -->
<!--                               data-ng-class="{active: row == '-nom'}"></span> -->
<!--                     </div></th> -->
<!--                     <th><div class="th"> -->
<!--                         Maximal -->
<!--                         <span class="glyphicon glyphicon-chevron-up" -->
<!--                               data-ng-click=" order('prenom') " -->
<!--                               data-ng-class="{active: row == 'prenom'}"></span> -->
<!--                         <span class="glyphicon glyphicon-chevron-down" -->
<!--                               data-ng-click=" order('-prenom') " -->
<!--                               data-ng-class="{active: row == '-prenom'}"></span> -->
<!--                     </div></th> -->
<!--                     <th><div class="th"> -->
<!--                         Minimal -->
<!--                         <span class="glyphicon glyphicon-chevron-up" -->
<!--                               data-ng-click=" order('email') " -->
<!--                               data-ng-class="{active: row == 'email'}"></span> -->
<!--                         <span class="glyphicon glyphicon-chevron-down" -->
<!--                               data-ng-click=" order('-email') " -->
<!--                               data-ng-class="{active: row == '-email'}"></span> -->
<!--                     </div></th>                     -->
<!--                     <th></th> -->
<!--                 </tr> -->
<!--             </thead> -->
<!--             <tbody>currentPageEnseignant / enseignants -->
<!--                 <tr data-ng-repeat="q in currentPageRubrique" class="qualificatif"> -->
<!--                     <td ng-click="edit(q)">{{q.idQualificatif}}</td> -->
<!--                     <td ng-click="edit(q)">{{q.maximal}}</td> -->
<!--                     <td ng-click="edit(q)">{{q.minimal}}</td> -->
<!--                     <td><span class="remove fa fa-remove" ng-click="supprime(q)"></span></td> -->
                    
<!--                 </tr> -->
<!--             </tbody> -->
<!--         </table> -->

<!--         <footer class="table-footer"> -->
<!--             <div class="row"> -->
<!--                 <div class="col-md-6 page-num-info"> -->
<!--                     <span> -->
<!--                         Show  -->
<!--                         <select data-ng-model="numPerPage" -->
<!--                                 data-ng-options="num for num in numPerPageOpt" -->
<!--                                 data-ng-change="onNumPerPageChange()"> -->
<!--                         </select>  -->
<!--                         entries per page -->
<!--                     </span> -->
<!--                 </div> -->
<!--                 <div class="col-md-6 text-right pagination-container"> -->
<!--                     <pagination class="pagination-sm" -->
<!--                                 ng-model="currentPage" -->
<!--                                 total-items="filteredEnseignant.length" -->
<!--                                 max-size="4" -->
<!--                                 ng-change="select(currentPage)" -->
<!--                                 items-per-page="numPerPage" -->
<!--                                 rotate="false" -->
<!--                                 boundary-links="true"></pagination> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </footer> -->
<!--     </section> -->

<!-- </div> -->


<div class="page page-table" >
<div class="media animate" ng-hide="active">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> Qualificatif</strong>
        <a class="btn btn-primary fa fa-user-plus pull-right" ng-click="ajoutQualificatif()"> Ajouter Qualificatif</a>
        </div>

          <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Rechercher"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
						Affiche {{filteredQualif.length}}/{{qual.length}}
                </div>
            </div>
        </div>  

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    
                    <th><div class="th">
                        Maximal
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('prenom') "
                              data-ng-class="{active: row == 'prenom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-prenom') "
                              data-ng-class="{active: row == '-prenom'}"></span>
                    </div></th>
                    <th><div class="th">
                        Minimal
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>                    
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody><!-- currentPageEnseignant / enseignants -->
                <tr data-ng-repeat="q in currentPageQualif" class="qualificatif">

                    <td>{{q.maximal}}</td>
                    <td>{{q.minimal}}</td>
                   <td>
					<span class="fa fa-pencil-square-o" style="color:#7FC6BC; font-size: 2em; padding: 5px; cursor: pointer" ng-click="edition(q)"></span>
					<span class="fa fa-trash" style="color: #D55; font-size: 2em; padding: 5px; cursor: pointer" ng-click="supprime(q)"></span>
					</td>
                    
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Affiche 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entr&eacute;es par page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredQualif.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
</div>







</div>

</div>
