<div class="page page-table" data-ng-controller="RubriqueController">

<div class="page page-dashboard" >

<!--     stats -->
<!--     <div class="row"> -->
        
<!--         <div class="col-lg-4 col-xsm-6"> -->
<!--             	<button type="button" class="btn btn-lg btn-primary" ng-click="ShowHideQual()">Gestion Qualificatif</button> -->
<!--         </div> -->
<!--         <div class="col-lg-4 col-xsm-6"> -->
<!--             	<button type="button" class="btn btn-lg btn-primary" ng-click="ShowHideRub()">Gestion Rubrique</button> -->
<!--         </div> -->
<!--         <div class="col-lg-4 col-xsm-6"> -->
<!--             	<button type="button" class="btn btn-lg btn-primary" ng-click="ShowHideQue()">Gestion Question</button> -->
<!--         </div> -->

<!--     </div> -->
<!--     end stats -->



<!-- <div class="media animate" ng-hide="active"> -->
		
<!-- 		<div class="page page-table"> -->
<!-- 		<section class="panel panel-default table-dynamic"> -->
<!-- 		        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Rubriques</strong> -->
<!-- 		        <span class="add fa fa-user-plus pull-right" ng-click="ajoutRubrique()"></span> -->
<!-- 		        </div> -->
				
<!-- 		        <div class="table-filters"> -->
<!-- 		            <div class="row"> -->
<!-- 		                <div class="col-sm-4 col-xs-6"> -->
<!-- 		                    <form> -->
<!-- 		                        <input type="text" -->
<!-- 		                               placeholder="search" -->
<!-- 		                               class="form-control" -->
<!-- 		                               data-ng-model="searchKeywords" -->
<!-- 		                               data-ng-keyup="search()"> -->
<!-- 		                    </form> -->
<!-- 		                </div> -->
<!-- 		                <div class="col-sm-3 col-xs-6 filter-result-info"> -->
<!-- 		                    <span> -->
<!-- 		                        Affiche {{filteredRubrique.length}}/{{rubriques.length}} -->
<!-- 		                    </span>               -->
<!-- 		                </div> -->
<!-- 		            </div> -->
<!-- 		        </div>  -->
		        
		
		      
<!-- 		        <table class="table table-bordered table-striped table-responsive"> -->
<!-- 		            <thead> -->
<!-- 		                <tr> -->
<!-- 		                    <th><div class="th"> -->
<!-- 		                        Ordre -->
<!-- 		                        <span class="glyphicon glyphicon-chevron-up" -->
<!-- 		                              data-ng-click=" order('ordre') " -->
<!-- 		                              data-ng-class="{active: row == 'ordre'}"></span> -->
<!-- 		                        <span class="glyphicon glyphicon-chevron-down" -->
<!-- 		                              data-ng-click=" order('-ordre') " -->
<!-- 		                              data-ng-class="{active: row == '-ordre'}"></span> -->
<!-- 		                    </div></th> -->
<!-- 		                    <th><div class="th"> -->
<!-- 		                        Désignation -->
<!-- 		                        <span class="glyphicon glyphicon-chevron-up" -->
<!-- 		                              data-ng-click=" order('designation') " -->
<!-- 		                              data-ng-class="{active: row == 'designation'}"></span> -->
<!-- 		                        <span class="glyphicon glyphicon-chevron-down" -->
<!-- 		                              data-ng-click=" order('-designation') " -->
<!-- 		                              data-ng-class="{active: row == '-designation'}"></span> -->
<!-- 		                    </div></th>                     -->
<!-- 		                    <th><div class="th"> -->
<!-- 		                        Actions -->
<!-- 		                    </th> -->
<!-- 		                </tr> -->
<!-- 		            </thead> -->
<!-- 		            <tbody> -->
<!-- 		                <tr data-ng-repeat="r in currentPageRubrique" class="rubrique"> -->
		
<!-- 		                    <td ng-click="edit(r)">{{r.ordre}}</td> -->
<!-- 		                    <td ng-click="edit(r)">{{r.designation}}</td> -->
<!-- 		                    <td><span class="remove fa fa-remove" ng-click="supprime(r)"></span></td> -->
<!-- 		                </tr> -->
<!-- 		                <tr></tr> -->
<!-- 		             </tbody> -->
<!-- 		        </table> -->
		
<!-- 		      <footer class="table-footer"> -->
<!-- 		            <div class="row"> -->
<!-- 		                <div class="col-md-6 page-num-info"> -->
<!-- 		                    <span> -->
<!-- 		                        Show  -->
<!-- 		                        <select data-ng-model="numPerPage" -->
<!-- 		                                data-ng-options="num for num in numPerPageOpt" -->
<!-- 		                                data-ng-change="onNumPerPageChange()"> -->
<!-- 		                        </select>  -->
<!-- 		                        entries per page -->
<!-- 		                    </span> -->
<!-- 		                </div> -->
<!-- 		                <div class="col-md-6 text-right pagination-container"> -->
<!-- 		                    <pagination class="pagination-sm" -->
<!-- 		                                ng-model="currentPage" -->
<!-- 		                                total-items="filteredRubrique.length" -->
<!-- 		                                max-size="4" -->
<!-- 		                                ng-change="select(currentPage)" -->
<!-- 		                                items-per-page="numPerPage" -->
<!-- 		                                rotate="false" -->
<!-- 		                                boundary-links="true"></pagination> -->
<!-- 		                </div> -->
<!-- 		            </div> -->
<!-- 		        </footer> -->
<!-- 		    </section> -->
		    
<!-- 		</div> -->
<!-- 	</div> -->


<div class="media animate" >
		
		<div class="page page-table">
		<section class="panel panel-default table-dynamic">
		        <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> Rubriques Standards</strong>
		        <a class="btn btn-primary fa fa-user-plus pull-right" ng-click="ajoutRubrique()"> Ajouter Rubrique Stardard</a>
		        </div>
				
		        <div class="table-filters">
		            <div class="row">
		                <div class="col-sm-4 col-xs-6">
		                    <form>
		                        <input type="text"
		                               placeholder="search"
		                               class="form-control"
		                               data-ng-model="searchKeywords"
		                               data-ng-keyup="search()">
		                    </form>
		                </div>
		                <div class="col-sm-3 col-xs-6 filter-result-info">
		                    <span>
		                        Affiche {{filteredRubrique.length}}/{{rubriques.length}}
		                    </span>              
		                </div>
		            </div>
		        </div> 
		        
		
		      
		        <table class="table table-bordered table-striped table-responsive">
		            <thead>
		                <tr>
		                    <th><div class="th">
		                        Ordre
		                        <span class="glyphicon glyphicon-chevron-up"
		                              data-ng-click=" order('ordre') "
		                              data-ng-class="{active: row == 'ordre'}"></span>
		                        <span class="glyphicon glyphicon-chevron-down"
		                              data-ng-click=" order('-ordre') "
		                              data-ng-class="{active: row == '-ordre'}"></span>
		                    </div></th>
		                    <th><div class="th">
		                        D&eacute;signation
		                        <span class="glyphicon glyphicon-chevron-up"
		                              data-ng-click=" order('designation') "
		                              data-ng-class="{active: row == 'designation'}"></span>
		                        <span class="glyphicon glyphicon-chevron-down"
		                              data-ng-click=" order('-designation') "
		                              data-ng-class="{active: row == '-designation'}"></span>
		                    </div></th>                      
		                    <th><div class="th">
		                        Actions
		                    </th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr data-ng-repeat="r in currentPageRubrique" class="rubrique">
		
		                    <td >{{r.ordre}}</td>
		                    <td >{{r.designation}}</td>
		                  
		                    <td>
							<span class="fa fa-pencil-square-o" style="color:#7FC6BC; font-size: 2em; padding: 5px; cursor: pointer"  ng-click="edition(r)"></span>
							<span class="fa fa-trash" style="color: #D55; font-size: 2em; padding: 5px; cursor: pointer" ng-click="supprime(r)"></span>
		                    
		                    
		                    </td>
		                </tr>
		                <tr></tr>
		             </tbody>
		        </table>
		
		      <footer class="table-footer">
		            <div class="row">
		                <div class="col-md-6 page-num-info">
		                    <span>
		                        Show 
		                        <select data-ng-model="numPerPage"
		                                data-ng-options="num for num in numPerPageOpt"
		                                data-ng-change="onNumPerPageChange()">
		                        </select> 
		                        entries per page
		                    </span>
		                </div>
		                <div class="col-md-6 text-right pagination-container">
		                    <pagination class="pagination-sm"
		                                ng-model="currentPage"
		                                total-items="filteredRubrique.length"
		                                max-size="4"
		                                ng-change="select(currentPage)"
		                                items-per-page="numPerPage"
		                                rotate="false"
		                                boundary-links="true"></pagination>
		                </div>
		            </div>
		        </footer>
		    </section>
		    
		</div>
	</div>



</div>  





</div>
