<div class="page page-table" data-ng-controller="FormationsController">

<section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> Formations</strong>

      <span class="btn btn-primary fa fa-user-plus pull-right" ng-click="ajoutFormation()">Ajouter Formation</span>      </div>
		
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Rechercher"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filteredFormation.length}}/{{formations.length}}
                    </span>              
                </div>
            </div>
        </div> 
        

      
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
              
                    <th><div class="th">
                        Formation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('code') "
                              data-ng-class="{active: row == 'code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-code') "
                              data-ng-class="{active: row == '-code'}"></span>
                    </div></th>
                           
                    <th><div class="th">
                      D&eacute;signation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">
                        Double diplome
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">
                        Accr&eacute;ditation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">Action</div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="f in currentPageFormation" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
       
                    <td ng-click="UeFormation(f.codeFormation);ShowHide()" >{{f.codeFormation}}</td>
                    
                    <td ng-click="UeFormation(f.codeFormation);ShowHide()">{{f.nomFormation}}</td>
                    <td ng-click="UeFormation(f.codeFormation);ShowHide()">{{f.doubleDiplome}}</td>

                    <td ng-click="UeFormation(f.codeFormation);ShowHide()">Du&nbsp;{{f.debutAccreditation | date: "dd/MM/yyyy"}} au {{f.finAccreditation | date: "dd/MM/yyyy"}}</td>
                	<td>
                      <span class="fa fa-info-circle fa-2x" style="color: #eec95a; cursor: pointer;padding: 5px" ng-click="edit(f)"  ></span>
          						<span class="fa fa-trash" style="color: #D55; font-size: 2em; padding: 5px; cursor: pointer" ng-click="supprime(f)"></span>
                  </td>
                </tr>
                <tr>
                
                </tr>
                
            </tbody>
        </table>

       <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Affiche 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entr&eacute;es par page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredFormation.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
    


    
    

    
<section class="panel panel-default table-dynamic" ng-hide = "IsHidden" >
        <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> UE</strong>
        <span class="btn btn-primary fa fa-user-plus pull-right" ng-click="ajoutUE()">Ajouter UE</span>
        </div>

      

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Code UE
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('code') "
                              data-ng-class="{active: row == 'code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-code') "
                              data-ng-class="{active: row == '-code'}"></span>
                    </div></th>
                                   
<!--                     <th><div class="th"> -->
<!--                         Enseignant responsable -->
<!--                         <span class="glyphicon glyphicon-chevron-up" -->
<!--                               data-ng-click=" order('email') " -->
<!--                               data-ng-class="{active: row == 'email'}"></span> -->
<!--                         <span class="glyphicon glyphicon-chevron-down" -->
<!--                               data-ng-click=" order('-email') " -->
<!--                               data-ng-class="{active: row == '-email'}"></span> -->
<!--                     </div></th> -->
                    <th><div class="th">
                        Designation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                     <th><div class="th">
                        Semestre
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                     <th><div class="th">
                        Description
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">
                        CM/TD/TP
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                   
                   
                    <th><div class="th">Action</div></th>
                   
<!--                     <th><div class="th"> -->
<!--                         Semestre -->
<!--                         <span class="glyphicon glyphicon-chevron-up" -->
<!--                               data-ng-click=" order('email') " -->
<!--                               data-ng-class="{active: row == 'email'}"></span> -->
<!--                         <span class="glyphicon glyphicon-chevron-down" -->
<!--                               data-ng-click=" order('-email') " -->
<!--                               data-ng-class="{active: row == '-email'}"></span> -->
<!--                     </div></th> -->
<!--                     <th><div class="th"> -->
<!--                         Heure -->
<!--                         <span class="glyphicon glyphicon-chevron-up" -->
<!--                               data-ng-click=" order('email') " -->
<!--                               data-ng-class="{active: row == 'email'}"></span> -->
<!--                         <span class="glyphicon glyphicon-chevron-down" -->
<!--                               data-ng-click=" order('-email') " -->
<!--                               data-ng-class="{active: row == '-email'}"></span> -->
<!--                     </div></th> -->
<!--                     <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="u in currentPageUnit"  ng-class="{'selected':$index == selectedRow1}" ng-click="setClickedRow1($index)">
                    <td ng-click="EcUe(u); ShowHideUe()">{{u.uniteEnseignementPK.codeUe}}</td>

<!--                     <td ng-click="EcUe(u.uniteEnseignementPK.codeUe); ShowHideUe()">{{u.noEnseignant.prenom}} {{u.noEnseignant.nom}}</td> -->
                    <td ng-click="EcUe(u); ShowHideUe()">{{u.designation}}</td>
                 <td ng-click="EcUe(u); ShowHideUe()">{{u.semestre}}</td>
                   <td ng-click="EcUe(u); ShowHideUe()">{{u.description}}</td>
                  <td ng-click="EcUe(u); ShowHideUe()">{{u.nbhCm}}/{{u.nbhTd}}/{{u.nbhTp}}&nbsp;Heures</td>
<!--                     <td><span class="remove fa fa-remove" ng-click="supprime(f)"></span></td> -->
                   <td> 
                        <span class="fa fa-info-circle fa-2x" style="color: #eec95a; cursor: pointer;padding: 5px" ng-click="editue(u)" ></span>
         						<span class="fa fa-pencil-square-o" style="color:#7FC6BC; font-size: 2em; padding: 5px; cursor: pointer" ng-click="editionUE(u)"></span>
         						<span class="fa fa-trash" style="color: #D55; font-size: 2em; padding: 5px; cursor: pointer" ng-click="supprimeue(u)">
                  </td>
                </tr>
            </tbody>
        </table>

          <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Affiche 
                        <select data-ng-model="numPerPageUE"
                                data-ng-options="num for num in numPerPageOptUE"
                                data-ng-change="onNumPerPageChangeUE()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPageUE"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="selectUE(currentPageUE)"
                                items-per-page="numPerPageUE"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>




<section class="panel panel-default table-dynamic" ng-hide = "IsHiddenUe" >
        <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> ELEMENT CONSTITUTIF</strong>
        <span class="btn btn-primary fa fa-user-plus pull-right" ng-click="ajoutEC()">Ajouter EC</span>
        
        </div>


        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    
                    <th><div class="th">
                       Code EC
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('diplome') "
                              data-ng-class="{active: row == 'diplome'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-diplome') "
                              data-ng-class="{active: row == '-diplome'}"></span>
                    </div></th>                    
<!--                     <th><div class="th"> -->
<!--                         Enseignant responsable -->
<!--                         <span class="glyphicon glyphicon-chevron-up" -->
<!--                               data-ng-click=" order('email') " -->
<!--                               data-ng-class="{active: row == 'email'}"></span> -->
<!--                         <span class="glyphicon glyphicon-chevron-down" -->
<!--                               data-ng-click=" order('-email') " -->
<!--                               data-ng-class="{active: row == '-email'}"></span> -->
<!--                     </div></th> -->
                    <th><div class="th">
                        Designation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">
                        Description
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                      <th><div class="th">
                        CM/TD/TP
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                   <th><div class="th">Action</div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="ec in currentPageElem">
               
                   
                    <td ng-click="edit(u)">{{ ec.elementConstitutifPK.codeEc}}</td>
<!--                     <td ng-click="edit(u)">{{u.enseignant.prenom}} {{u.enseignant.nom}}</td> -->
                    <td ng-click="edit(u)">{{ec.designation}}</td>
                    <td ng-click="edit(u)">{{ec.description}}</td>
                     <td ng-click="edit(u)">{{ec.nbhCm}}/{{ec.nbhTd}}/{{ec.nbhTp}}&nbsp;Heures</td>
<!--                     <td ng-click="edit(u)">{{u.semestre}}</td> -->
                    
<!--                     <td><span class="remove fa fa-remove" ng-click="supprime(f)"></span></td> -->
                    <!-- <td><span class="remove fa fa-remove" ng-click="supprime(ec)" ></span>
                    <span class="glyphicon glyphicon-plus" ng-click="editec(ec)"></span> </td> -->                  
                    <td>
                        <span class="fa fa-info-circle fa-2x" style="color: #eec95a; cursor: pointer;padding: 5px" ng-click="editec(ec)" ></span>
            						<span class="fa fa-pencil-square-o" style="color:#7FC6BC; font-size: 2em; padding: 5px; cursor: pointer" ng-click="modif(ec)"></span>
            						<span class="fa fa-trash" style="color: #D55; font-size: 2em; padding: 5px; cursor: pointer" ng-click="supprimeec(ec)">
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Affiche
                        <select data-ng-model="numPerPageEC"
                                data-ng-options="num for num in numPerPageOptEC"
                                data-ng-change="onNumPerPageChangeEC()">
                        </select> 
                        entr&eacute;es par page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPageEC"
                                total-items="filteredEC.length"
                                max-size="4"
                                ng-change="selectEC(currentPageEC)"
                                items-per-page="numPerPageEC"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>





</div>
