<div class="page" ng-controller="EvaluationDetailsController">
  <div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="fa fa-bookmark"></span>Ajout Rubriques</strong></div>
    <div class="panel-body">
        <!-- Ajout -->
           
         <div class="media animate">        
            <form class="form-horizontal">
               
                <div class="form-group">
                    <label for="" class="col-sm-2">Rubrique</label>
                    <div class="col-sm-10">
                        <select ng-model="rubEva.idRubrique">
                        	<option ng-repeat="rub in rubriques" value="{{rub.idRubrique}}" class="form-control">{{rub.designation}}</option>
                        </select>
                    </div>                    
                </div>
                
               <div class="form-group">
                    <label for="" class="col-sm-2">Ordre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="rubEva.ordre">
                    </div>                    
                </div>  
				
                <div class="form-group">
                    <label for="" class="col-sm-2">Designation</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="rubEva.designation">
                    </div>                    
                </div>       
            </form>
            <a class="btn btn-success" ng-click="submitrub()"><span class="glyphicon glyphicon-ok"></span> Valider</a>
            <button class="btn btn-danger pull-right" ng-click="cancelrub()"> Annuler</button>
        </div>
    </div>
  </div>
</div>
