<div class="page" ng-controller="EvaluationDetailsController">
   <div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="fa fa-bookmark"></span>Evaluation</strong></div>
    <div class="panel-body">

<div ng-show="add">            
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-sm-2">Formation <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
	                    <select ng-model="evaluation.codeFormation" class="form-control" ng-change="chargerPromoFrm(evaluation.codeFormation)">
 							<option ng-repeat="f in formations" >{{f.codeFormation}}</option>
 						</select>
 					</div>  
 					
 					 <label for="" class="col-sm-2">Promotion  <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
						<select ng-model="evaluation.annee" class="form-control">
 							<option ng-repeat="p in promotions">{{p.promotionPK.anneeUniversitaire}}</option>
 						</select>                    
 					</div>      
 					
 					         
                </div>
                <div class="form-group">
                         <label for="" class="col-sm-2">Unite Enseignement  <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
<!--                         <input type="text" class="form-control" ng-model="evaluation.codeUe"> -->
                        <select ng-model="evaluation.codeUe" class="form-control" ng-change="chargerEc(evaluation.codeUe)">
 							<option ng-repeat="ue in ue" >{{ue.uniteEnseignementPK.codeUe}}</option>
 						</select>
                    </div>    
                    
                       <label for="" class="col-sm-2">Element constitutif</label>
                    <div class="col-sm-4">
<!--                         <input type="text" class="form-control" ng-model="evaluation.codeEc"> -->
						<select ng-model="evaluation.codeEc" class="form-control">
 							<option ng-repeat="ec in ec" >{{ec.elementConstitutifPK.codeEc}}</option>
 						</select>
                    </div>               
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Periode</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="evaluation.periode">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Designation  <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="evaluation.designation">
                    </div>                    
                </div>
                <div class="form-group">
                	 <label for="" class="col-sm-2">No Evaluation  <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="evaluation.noEvaluation">
                    </div>      
                
                    <label for="" class="col-sm-2">Etat  <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
<!--                         <input type="text" class="form-control" ng-model="evaluation.etat"> -->
                        
                         <select ng-model="evaluation.etat" class="form-control">
 								<option ng-repeat="etat in etat" value="{{etat.rvAbbreviation}}">{{etat.rvMeaning}}</option>
 						</select>
                        
                    </div>                    
                </div>
                
                <div class="form-group">
                    <label for="" class="col-sm-2">Debut de reponse  <span style="color:red;">*</span> </label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-model="evaluation.debutReponse" ng-change="convert()">
                    </div>    
                    
                    
                    <label for="" class="col-sm-2">Fin de reponse  <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-model="evaluation.finReponse" ng-change="convert()">
                    </div>                
                </div>
              
            </form>
            <a class="btn btn-success" ng-click="submit()"><span class="glyphicon glyphicon-ok"></span> Valider</a>
            <button class="btn btn-danger pull-right" ng-click="cancel()"> Annuler</button>
        </div>
      </div>
      





<div ng-show="edit">     
  <form class="form-horizontal">
 <div class="form-group">
                    <label for="" class="col-sm-2">Formation <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
	                   {{ eva.code_formation }}
 					</div>  
 					
 					 <label for="" class="col-sm-2">Promotion  <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
						{{ eva.annee  }}              
 					</div>      
 					
 					         
                </div>
                <div class="form-group">
                         <label for="" class="col-sm-2">Unite Enseignement  <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                    {{ eva.code_ue  }}

                    </div>    
                    
                       <label for="" class="col-sm-2">Element constitutif</label>
                    <div class="col-sm-4">
                      {{ eva.code_ec  }}
                    </div>               
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Periode</label>
                    <div class="col-sm-10">
                        {{ eva.periode  }}
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Designation  <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        {{ eva.designation  }}
                    </div>                    
                </div>
                <div class="form-group">
                	 <label for="" class="col-sm-2">No Evaluation  <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                         {{ eva.noEvaluation  }}
                    </div>      
                
                    <label for="" class="col-sm-2">Etat  <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                      {{ eva.etat  }}
                        
                    </div>                    
                </div>
                
                <div class="form-group">
                    <label for="" class="col-sm-2">Debut de reponse  <span style="color:red;">*</span> </label>
                    <div class="col-sm-4">
                       
                       {{eva.debutReponse | date: "dd/MM/yyyy"}}
                    </div>    
                    
                    
                    <label for="" class="col-sm-2">Fin de reponse  <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                       
                       {{eva.finReponse | date: "dd/MM/yyyy"}}
                    </div>                
                </div>
              
            </form>
            
           
            <a class="btn btn-success" ng-click="ShowHide()"><span class="glyphicon glyphicon-ok"></span>Gestion des Rubriques</a>

  </div>
</div>
  
  
<div class="media animate">
		
		<div class="page page-table">
		<section class="panel panel-default table-dynamic" ng-hide = "IsHidden">
		        <div class="panel-heading"><strong><span class="fa fa-bookmark"></span>Gestion des Rubriques</strong>
 <a class="btn btn-primary fa fa-user-plus pull-right" ng-click="ajoutRub()"> Ajouter Rubrique</a>
		        </div>
				
		        <div class="table-filters">
		            <div class="row">
		                <div class="col-sm-4 col-xs-6">
		                    <form>
		                        <input type="text"
		                               placeholder="Rechercher"
		                               class="form-control"
		                               data-ng-model="searchKeywords"
		                               data-ng-keyup="search()">
		                    </form>
		                </div>
		                <div class="col-sm-3 col-xs-6 filter-result-info">
		                    <span>
		                        Affiche {{filteredQuestion.length}}/{{questions.length}}
		                    </span>              
		                </div>
		            </div>
		        </div> 
		        
		
		      
		        <table class="table table-bordered table-striped table-responsive">
		            <thead>
		                <tr>
		                    
		                    <th><div class="th">
		                        Type
		                        <span class="glyphicon glyphicon-chevron-up"
		                              data-ng-click=" order('prenom') "
		                              data-ng-class="{active: row == 'prenom'}"></span>
		                        <span class="glyphicon glyphicon-chevron-down"
		                              data-ng-click=" order('-prenom') "
		                              data-ng-class="{active: row == '-prenom'}"></span>
		                    </div></th>
		                    <th><div class="th">
		                        Designation
		                        <span class="glyphicon glyphicon-chevron-up"
		                              data-ng-click=" order('prenom') "
		                              data-ng-class="{active: row == 'prenom'}"></span>
		                        <span class="glyphicon glyphicon-chevron-down"
		                              data-ng-click=" order('-prenom') "
		                              data-ng-class="{active: row == '-prenom'}"></span>
		                    </div></th>
		                    <th><div class="th">
		                        Ordre
		                        <span class="glyphicon glyphicon-chevron-up"
		                              data-ng-click=" order('prenom') "
		                              data-ng-class="{active: row == 'prenom'}"></span>
		                        <span class="glyphicon glyphicon-chevron-down"
		                              data-ng-click=" order('-prenom') "
		                              data-ng-class="{active: row == '-prenom'}"></span>
		                    </div></th>
		                    <th><div class="th">
		                        Actions
		                        <span class="glyphicon glyphicon-chevron-up"
		                              data-ng-click=" order('email') "
		                              data-ng-class="{active: row == 'email'}"></span>
		                        <span class="glyphicon glyphicon-chevron-down"
		                              data-ng-click=" order('-email') "
		                              data-ng-class="{active: row == '-email'}"></span>
		                    </div></th>                    
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr data-ng-repeat="r in currentPageQuestion" class="enseignant">
<!-- 		                    <tr data-ng-repeat="r in rub" class="enseignant"> -->
		                    <td ng-click="">{{r.type}}</td>
		                    <td ng-click="">{{r.designation}}</td>
		                    <td ng-click="">{{r.ordre}}</td>
		                    <td> 
							
							<span class="fa fa-trash" style="color: #D55; font-size: 2em; padding: 5px; cursor: pointer" ng-click="supprimerRub(r)"></span>
		                    </td>
		                    
		                </tr>
		            </tbody>
		        </table>
		
		      <footer class="table-footer">
		            <div class="row">
		                <div class="col-md-6 page-num-info">
		                    <span>
		                        Affiche 
		                        <select data-ng-model="numPerPage"
		                                data-ng-options="num for num in numPerPageOpt"
		                                data-ng-change="onNumPerPageChange()">
		                        </select> 
		                        entr&eacute;es par page
		                    </span>
		                </div>
		                <div class="col-md-6 text-right pagination-container">
		                    <pagination class="pagination-sm"
		                                ng-model="currentPage"
		                                total-items="filteredQuestion.length"
		                                max-size="4"
		                                ng-change="select(currentPage)"
		                                items-per-page="numPerPage"
		                                rotate="false"
		                                boundary-links="true"></pagination>
		                </div>
		            </div>
		        </footer>
		    </section>
		    
		</div>
	</div>
 
 </div> 
  
</div>  
      
</div>

