<div class="page" ng-controller="RubDetailsController">
  <div class="panel panel-default rub-edit">
    <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> Rubrique</strong></div>
    <div class="panel-body">
        <!-- Consultation -->
        <div class="media animate" ng-hide="edit">
            <button class="btn btn-warning pull-right" ng-click="edition()"><span class="glyphicon glyphicon-pencil"></span> Editer</button>
            <div class="media-body"> 
                <ul class="list-unstyled list-info">
                     <li>
                        <span class="icon glyphicon glyphicon-envelope"></span>
                        <label>ordre</label>                        
                        {{rubrique.ordre}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-user"></span>
                        <label>Désignation</label>
                        {{rubrique.designation}}<br/>
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-home"></span>
                        <label>Type</label>
                        {{rubrique.type}}
                    </li>                 
                </ul>                
            </div>
           
            <a class="btn btn-primary" href="#/admin/rubriques"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
        </div>

        <!-- Edition -->
        <div ng-show="edit">            
            <form class="form-horizontal" data-toggle="validator" role="form" name="RubriqueForm">
                <div class="form-group">
                    <label for="" class="col-sm-2">Ordre</label>
                    <div class="col-sm-10 input-group">
                        <input type="number" required 
                        ng-pattern="/^[0-9]{1,7}$/"
                        name="Ordre" 
                        class="form-control" minlength="1" maxlength="7" min="1" 
                        ng-model="rubrique.Ordre"> 
                               <span style="color: red" ng-show="RubriqueForm.Ordre.$dirty && RubriqueForm.Ordre.$invalid">
								<span ng-show="RubriqueForm.Ordre.$error.required"> ce champs est obligatoire </span>
								<span ng-show="RubriqueForm.Ordre.$error.pattern"> format non valide </span>
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">D&eacute;signation</label>
                    <div class="col-sm-10">
                        <input type="text" required
                        ng-pattern="/^[A-Za-z' \-]+$/"
                        name="designation"
                        class="form-control" minlength="1" maxlength="32" min="1"
                        ng-model="rubrique.designation">
                                <span style="color: red" ng-show="RubriqueForm.designation.$dirty && RubriqueForm.designation.$invalid">
								<span ng-show="RubriqueForm.designation.$error.required"> ce champs est obligatoire </span>
								<span ng-show="RubriqueForm.designation.$error.pattern"> format non valide </span>
                    </div>                    
                </div>
<!--                 <div class="form-group"> -->
<!--                     <label for="" class="col-sm-2">Type</label> -->
<!--                     <div class="col-sm-10"> -->
<!--                         <input type="text" class="form-control" required  -->
<!--                         ng-pattern="/^[A-Za-z' \-]+$/" -->
<!--                         name="Type" -->
<!--                         class="form-control" minlength="1" maxlength="10" min="1" -->
<!--                         ng-model="rubrique.type" placeholder="Type de contrat (eg. RBS,... )"> -->
<!--                         <span style="color: red" ng-show="RubriqueForm.Type.$dirty && RubriqueForm.designation.$invalid"> -->
<!--                         <span ng-show="RubriqueForm.Type.$error.required"> ce champs est obligatoire </span> -->
<!-- 						<span ng-show="RubriqueForm.Type.$error.pattern"> format non valide </span> -->
<!--                     </div>                     -->
<!--                 </div> -->
            </form>
            <a class="btn btn-success" ng-click="submit()"><span class="glyphicon glyphicon-ok"></span> Valider</a>
            <button class="btn btn-danger pull-right" ng-click="cancel()"> Annuler</button>
        </div>
    </div>
  </div>
</div>
