<div class="page page-table" data-ng-controller="EvaluationController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> Evaluation</strong>
        <a class="btn btn-primary fa fa-user-plus pull-right" ng-click="ajouter()"> Ajouter Evaluation</a>
        
        </div>
		 
        <div class="table-filters" >
            <div class="row"  >
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()" >
                    </form>
                   
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filteredEvaluation.length}}/{{evaluations.length}}
                    </span>              
                </div>
                
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
<!--                          Affiche {{filteredEvaluation.length}}/{{evaluations.length}} -->
                    </span>              
                </div>
            </div>
        </div> 

      
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Promotion
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('code') "
                              data-ng-class="{active: row == 'code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-code') "
                              data-ng-class="{active: row == '-code'}"></span>
                    </div></th>
                    <th><div class="th">
                        Unite d'enseignement
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('diplome') "
                              data-ng-class="{active: row == 'diplome'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-diplome') "
                              data-ng-class="{active: row == '-diplome'}"></span>
                    </div></th>                    
                    <th><div class="th">
                        Periode
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">
                        Action
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="eva in currentPageEvaluation" class="formation">

                    <td ng-click="UeFormation(f.codeFormation);ShowHide()">{{eva.annee}}</td>
                    <td ng-click="UeFormation(f.codeFormation);ShowHide()">{{eva.code_ue}}</td>
                    <td ng-click="UeFormation(f.codeFormation);ShowHide()">{{eva.periode}}</td>
                    <td><span class="fa fa-trash" style="color: #D55; font-size: 2em; padding: 5px; cursor: pointer" ng-click="supprimer(eva)"></span> <span class="fa fa-info-circle fa-2x" style="color: #eec95a; cursor: pointer" ng-click="edit(eva)"></span></td>
                
                </tr>
                <tr>
                
                </tr>
                
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
    
    
    
    
    

</div>
