<div class="page page-table" data-ng-controller="EnseignantsController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="fa fa-bookmark"></span> Enseignants</strong>
       <span class="btn btn-primary fa fa-user-plus pull-right" ng-click="ajoutEnseignant()">Ajouter Enseignant</span>
        </div>

          <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Rechercher"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filteredEnseignant.length}}/{{enseignants.length}}
                    </span>              
                </div>
            </div>
        </div>  

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Nom
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('nom')"
                              data-ng-class="{active: row == 'com'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-nom') "
                              data-ng-class="{active: row == '-com'}"></span>
                        
                    </div></th>
                    <th><div class="th">
                        Prénom
                                 <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('code') "
                              data-ng-class="{active: row == 'code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-code') "
                              data-ng-class="{active: row == '-code'}"></span>
                    </div></th>
                    <th><div class="th">
                        E-mail
                                <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('code') "
                              data-ng-class="{active: row == 'code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-code') "
                              data-ng-class="{active: row == '-code'}"></span>
                    </div></th> 
                    
                    <th><div class="th">
                        T&eacute;l&eacute;phone
                                <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('code') "
                              data-ng-class="{active: row == 'code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-code') "
                              data-ng-class="{active: row == '-code'}"></span>
                    </div></th>      
                    <th><div class="th">
                        Adresse
                                <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('code') "
                              data-ng-class="{active: row == 'code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-code') "
                              data-ng-class="{active: row == '-code'}"></span>
                    </div></th> 
                    <th><div class="th">
                        Pays
                                <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('code') "
                              data-ng-class="{active: row == 'code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-code') "
                              data-ng-class="{active: row == '-code'}"></span>
                    </div></th>               
                    <th>Action</th>
                </tr>
            </thead>
            <tbody><!-- currentPageEnseignant / enseignants -->

                <tr data-ng-repeat="e in currentPageEnseignant">
                    <td >{{e.nom}}</td>
                    <td >{{e.prenom}}</td>
                    <td >{{e.emailUbo}}</td>

                     <td >{{e.telephone}}</td>
                     <td >{{e.adresse}}</td>
                     <td >{{e.pays}}</td>
					<td>
						<span class="fa fa-info-circle fa-2x" style="color: #eec95a; cursor: pointer;padding: 5px" ng-click="edit(e)"></span>
						<span class="fa fa-pencil-square-o" style="color:#7FC6BC; font-size: 2em; padding: 5px; cursor: pointer" ng-click="edition(e)"></span>
						<span class="fa fa-trash" style="color: #D55; font-size: 2em; padding: 5px; cursor: pointer" ng-click="supprime(e)"></span>
					</td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Afficher 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entr&eacute;es par page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredEnseignant.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
